body {
	background-color: #999;
}

p, li {
	font-size: 20px;
	color: #601815;
}

h1, h2 {
	padding-bottom: 20px;
	color: #2b8622;
	text-indent: 150px;
	font-family: sans-serif;

}

h1 {
	text-decoration: underline;
	font-weight: bold;
}

.wrap{
	width: 600px;
	margin: auto;
}

ul, a{
	color: #601815; 
}

/* made do with http://www.developer.mozilla.org to get various other css properties*/

